
body {
  background: url('./img/background_wood.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 100% Helvetica, sans-serif;
  color: #3f1f25;
}

h1 {
  font: 2.75em 'podkova', serif;
  margin-bottom: 1.67664670658683%;
}

h2 {
  font: 1.59375em 'podkova', serif;
  margin-bottom: 1.19760479041916%;
}

p {
  font-size: 1.125em;
  line-height: 1.4em;
}

#page-content {
  padding: 2.99003322259136% 3.76522702104097%;
  background-color: #f4e3db;
  -webkit-box-shadow: 0px 12px 21px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 21px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 21px 4px rgba(0,0,0,0.75);
}

.clearfix { @include pie-clearfix; }
