
.obj_center {
  display: block;
  margin: 0 auto;
}

.obj_float-left {
  float: left;
}

hr.line_rounded {
  margin: 0;
  padding: 0.24298472719497%;
  background-color: #e9b9c1;
  border: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.75);
}

.bio-photo {
  margin-right: 3.23353293413174%;
}
